* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  max-height: 200px;
  margin: 20px;
  padding: 10px;
  border: solid 5px pink;
  border-radius: 5px;
  overflow: auto;
}
